.buttonTable{
    width: 1750px;
    border: none;
}
.buttonrow{
    border: none;
}
section{
    top: 10%;
    left: 375px;
}
table{
    width: 1050px;
}
a{
    padding: 10px 20px;
    font-size: 25px;
}
.button input:hover{
    background-color: darkcyan;
}
.adminloginbutton input:hover{
    background-color: darkcyan;
}