table{
    border: none;
    font-size: 35px;
    width: 800px;
}
th, td{
    border: none;
}

.label{
    text-align: right;
    margin-top: 20px;
}
.error{
    color: red;
}
.input{
	font-size: 35px;
	width: 400px;
	text-align: center;
	padding: 5px;
	margin-top: 15px;
}
.select{
	font-size: 35px;
	width: 200px;
	text-align: center;
	padding: 5px;
	margin-top: 15px;
}
section{
    top: 20%;
    left: 500px;
}